html,body{
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    box-sizing: border-box;
    /*font-size: 62.5%;*/
}

#subject{
    text-align: center;
}

#nextQuestionContainer{
    text-align: center;
}
#nextQ{
    float: none;
    margin: auto;

    background-color: #5cb85c;
    height: 4.2rem;
    width: 9rem;
    display: none;
}
#wrongAnswer{
    float: none;
    margin: auto;

    background-color: #5cb85c;
    height: 4.2rem;
    width: 9rem;
    display: none;
}

#completedFraction{
    text-align: center;
}
h4{
    display: inline;
}


#questionContainer{
    text-align: center;
    color: limegreen;
}


.answerContainer{
    text-align: center;
}

.button{
    height: 10rem;
    width: 20rem;
}


.failMessage{
    text-align: center;
}


footer{
    width: 100%;
    height: 15rem;
    color: white;

}
a{
    color: inherit;
    text-decoration: none;
}
#footerContent{
    /*background-color: #78909c;*/
    background-color: #9ccc65;
    text-align: center;
    color: white;
}

/*popup styling*/
.popup{
    display: none;
}
.popupPosition{
    position: fixed;
    top: 0;
    left: 0;
    /*background-color: rgba(250,250,250, 0.2);*/
    background-color: transparent;
    width: 100%;
    height: 20%;
}
.popupWrapper{
    width: 50rem;
    margin: auto;
    text-align: center;
}
.popupContainer{
    background-color: aliceblue;
    margin: 4rem auto;
    text-align: center;
}

